<h1>Make A New Pizza!</h1>

<p><%= flash[:error] %></p>

<%= form_for(:user) do |f|%>
 <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
 </div>
 <div>
  <%= f.label :description %>
  <%= f.text_field :description %>
 </div>

  <p>Select a Company that already exists:</p>
 <div>
    <%= f.collection_select :company_id, Company.all, :id, :name, include_blank: 'Select One'%>

 </div>


  <p>Or add a new Company:</p>
    <div>
        <%= f.fields_for :company do |p| %>
        <%= p.label :name %>
        <%= p.text_field :name %>

        <% end %>
    </div>

  <%= f.submit "Create" %>
<% end %>