<h1>Leave a review for <%= @pizza %>!</h1>


<%= form_for(@review) do |p| %>
    <div>
        <%= p.label :stars %>
        <%= p.number_field :stars, min: 0, max: 5%>
    </div>
    <div>
        <%= p.label :title %>
        <%= p.text_field :title %>
    </div>
    <div>
        <%= p.label :content %>
        <%= p.text_field :content %>
    </div>
        <%= p.hidden_field :pizza_id %>