<h1><%= "#{@review.title}" %></h1> 
<h2><%= @review.stars%> out of 5 Star Rating</h2>

<p><h2>Review:</h2> <%= @review.content%></p> 

<h3> Review made by: <%= "#{@review.user.username}" %>
<%= link_to "Edit #{@review.title}", edit_review_path %>